body {
        margin: 0;
        font: normal 12/18px 'Helvetica', Arial, sans-serif;
        background: #b6b9c1;
}

/* Positioning Rules */

#container {
  width: 900px;
  margin: 0 auto;
}

#content {
  position: relative;
  padding: 20px 250px 60px 20px;
  background: #fff;
}

#nav {
  height: 50px;
  background: #bf4231;
}

#callout {
  position: absolute;
  top: 100px;
  bottom: 100px;
  right: -80px;
  width: 210px;
  padding: 0 20px;
  border-top: 5px solid #bf4231;
  background: #e85f64;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 860px;
  padding: 0 20px;
  background: #bf4231;
}

/* Stylistic Rules */

#nav a {
  display: block;
  float: left;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  border-right: 1px dotted #fff;
}

#nav a:hover {
  background: #df1f26;
}

#callout p {
  color: #fff;
}
