body {
  background-color: #bf4231;
}

img.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo {
  margin: 50px auto;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  position: relative;

  /*overly complex but cool shadow*/
  -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
          box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
}

.photo:before {
  content: "";
  height: 20px;
  width: 100px;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: -15px;
  left: 50px;

  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
     -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
