@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html,
body {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2 {
  font-weight: 400;
}
@media (min-width: 25em) {
  h1, h2 {
    font-weight: 900;
  }
}

h1 {
  font-size: 1.5em;
  font-size: 7.6vw;
  line-height: 1.2;
  margin: 0;
}
@media (min-width: 31.25em) {
  h1 {
    font-size: 2.25em;
    font-size: 7.6vw;
  }
}
@media (min-width: 53.9375em) {
  h1 {
    font-size: 4.7em;
  }
}

h2 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}
@media (min-width: 31.25em) {
  h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 50em) {
  h2 {
    font-size: 1.8em;
  }
}

p, ul {
  font-size: 0.667em;
  line-height: 1.4;
  margin-bottom: 0.75em;
}
@media (min-width: 31.25em) {
  p, ul {
    font-size: 1em;
  }
}
@media (min-width: 81.25em) {
  p, ul {
    font-size: 1.15em;
  }
}

/*====================================
  Some styles to spruce up the demo
=====================================*/
body {
  background: #f2f1f1;
  color: #5E5E5E;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: "Audiowide", cursive;
  font-weight: 900;
  margin: 0.5em 0 2.5em;
}
h1 span {
  color: #FFD300;
}

.wrap {
  padding: 1em;
  text-align: center;
}
@media (min-width: 43.75em) {
  .wrap {
    padding: 1em 2em;
  }
}
